.cryptogramContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 80px 0;
}

.header {
  text-align: center;
  margin-bottom: 0;
}

.flexRow {
  flex-direction: row;
  display: flex;
}

.button {
  margin: 0 40px;
  cursor: pointer;
  background-color: midnightblue;
  padding: 0 30px;
  border-radius: 10px;
}

.button > h2 {
  color: #fff;
}

.fixedWidth {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.word {
  display: flex;
  margin-right: 32px;
}

.letterContent {
  margin-right: 4px;
  display: flex;
  flex-direction: column;
}

.hasLetter {
  background-color: mediumorchid;
}

.whiteText {
  color: white;
}

.blackText {
  color: black;
}

.outerLetter {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.guess {
  display: flex;
  height: 50px;
  min-width: 50px;
  align-items: center;
  justify-content: center;
}

.nonGuess {
  display: flex;
  height: 50px;
  min-width: 20px;
  align-items: center;
  justify-content: center;
}

.punctuation {
  margin-top: 35px;
}

.nonPunctuation {
  border-bottom-style: solid;
}

.alphaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 4px 0 4px;
  height: 35px;
  width: 60px;
}

.pointer {
  cursor: pointer;
}

.isUsed {
  color: lightslategrey;
}

.letterTileText {
  font-size: 50px;
  font-weight: 800;
}

.selected {
  font-size: 75px;
  text-align: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.clearButton {
  margin-top: 30px;
}

.centerAll {
  justify-content: center;
  align-items: center;
}

.textCenter {
  text-align: center;
}

.endContainer {
  height: 100%;
}

.wrap {
  flex-wrap: wrap;
}
